# **        DATA STRUCTURES ASSIGNMENT**
--------------------------------------------------------------------------------

1. What are data structures, and why are they important?
-  Data structures are a specific way of organizing data in a well organized  format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively.
- It is important because
    - they make the code more efficient
    - and they make the code easier to understand.
    - Simplify data manipulation (adding, removing, modifying elements)
    - Conserve memory usage
-----------------------------------------------------------------
2. Explain the difference between mutable and immutable data types with examples.
-  Mutable data types in which the data can be modified by adding or removing the element .
  -  for example: List , set and dictionaries.
- Immutable data types in which the data cannot be modified by adding or removing the element.
  -  for example: Strings and Tuples
-----------------------------------------------------------------
3. What are the main differences between lists and tuples in Python?
-  Lists are mutable which means the values are editable even after the list is being created, where as, Tuples are immutable which means tuples cannot be modified by adding or removing element.
-----------------------------------------------------------------
4. Describe how dictionaries store data.
-  Dictionaries are key-value pairs that allow you to store and retrieve data based on a 'unique key'. The keys must be immutable or unique, such as strings or numbers. Dictionaries are useful for storing data that needs to be accessed quickly and efficiently. syntax:

        dict = {"name":"Tiger", "email":"tiger@yahoo.com", "contact": 4594}
       #key must be unique in this key are; name, email ,contact.
-----------------------------------------------------------------
5.  Why might you use a set instead of a list in Python?
-  Use Set when you want the content should be unique and order of content doesn't matter, while List is used when you need to maintain the order of elements and allow duplicates.
-----------------------------------------------------------------
6. What is a string in Python, and how is it different from a list?
-  String is a sequence of data. The main difference is that, String is a immutable data type while list is mutable. Stings data are to be stroed within single(' ') or double quote (" ").
-----------------------------------------------------------------
7.  How do tuples ensure data integrity in Python?
-  Tuples are immutable to ensure that their contents remains constant. which means the value will remain unchanged.
-----------------------------------------------------------------
8. What is a hash table, and how does it relate to dictionaries in Python?
-  A Hash Table in Python is nothing but a data structure where data is stored in an proper manner. In hash tables, data is stored in an array format, with every data value having an exclusive or unique index value.
-----------------------------------------------------------------
9. Can lists contain different data types in Python?
-  Yes, lists can contain the different data types in python. Like, string , integer, bollean, and so on.
-----------------------------------------------------------------
10.  Explain why strings are immutable in Python.
-  As we know onces the string value is being assigned to the varible the value cannot be changed or modifed because the value is being assigned in the varible or memory of the system.
-----------------------------------------------------------------
11.What advantages do dictionaries offer over lists for certain tasks?
-  The dictionaries stores data as key value pair which helps in retreving the data more effectively.
- where as in lists the data retreiving the index postion has to be given for getting the data fromn the list
          #in dictionaries the retreving of data by using the key i.e. name
          dic = {"name":"Tiger", "email":"Tiger@gmail.com", "contact": 4598}
          dic['name']
          
          #in lists the retreving of data by using the index no.
          list1= [1, 2, 3, 4]
          list[0]
-----------------------------------------------------------------
12. Describe a scenario where using a tuple would be preferable over a list.
-  Tuples can be used in the scenario where the value has be remained unchanged

For example
- employee id
- roll no
- account number and many more.
-----------------------------------------------------------------
13.How do sets handle duplicate values in Python?
-  Set function is being used to remove duplicate values in python.
          syntax:
          items = ['apple', 'banana', 'apple', 'onion', 'apple']
          set1 = (set(items))
          print(set1)
-----------------------------------------------------------------
14.How does the “in” keyword work differently for lists and dictionaries?
-  "in" keyword in list are usefull to find whether the element is present in the list or not
          example:
          my_list = ["Apple", "Banana", "orange"]
          my_list
          'Apple' in my_list
          
          output:
                 True
- "in" operator in dictonaries are used in zip function it tells you whether something appears or not as a key in the dictionary
          example:
          students = ["sony", "Aditi", "charu"]
          marks = [80, 90, 100]
          {student:marks for student, marks in zip(students, marks)}
-----------------------------------------------------------------
15. Can you modify the elements of a tuple? Explain why or why not.
- No, we can not add, remove or modify the elements of a tuple once it is created , because the tuples are immutable data type and once the value being assigned it cannot be modified
-----------------------------------------------------------------
16.What is a nested dictionary, and give an example of its use case?
-  In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.
- the most popular use case is in:
    - Restaurants
    - Offices
    - Schools
    - Big companies

            For example:
            student = {
              'S1': {'name': 'sony', 'age': 16, 'contact': '3899'},
              'S2': {'name': 'Aditi', 'age': 17, 'contact': '2349'},
              'S3': {'name': 'charu', 'age': 19, 'contact': '2393'}
              }
            student['S1']

            output:
                  {'name': 'sony', 'age': 16, 'contact': '3899'}
-----------------------------------------------------------------
17.Describe the time complexity of accessing elements in a dictionary.
-  The time complexity of inserting a new element into a Python dictionary is typically O(1). This means that the time taken to insert an element into a dictionary is constant, regardless of the size of the dictionary. This is because Python dictionaries use a hash table data structure, which allows for fast insertion, retrieval, and deletion of key-value pairs.
-----------------------------------------------------------------
18.In what situations are lists preferred over dictionaries?
-  If you need an ordered collection, like a sequence of user actions, then lists are useful. On the other hand, when you need quick look-ups to user data, dictionaries are invaluable.
- Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.
-----------------------------------------------------------------19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-  Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are unordered because Python dictionaries are not programmed to be in order, as simple as that.
-----------------------------------------------------------------
Q20.Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key-value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.
          For example:
            #in dictionaries the retreving of data by using the key i.e. name
              dic = {"name":"Tiger", "email":"tiger@gmail.com", "contact": 4598}
              dic['name']
         
          #in lists the retreving of data by using the index no.
            list1= [1, 2, 3, 4]
            list[0]

In [2]:
'''
1. Write a code to create a string with your name and print it
'''
# Creating a string with my name
my_name = "Reshma"

# Printing the string
print("My name is:", my_name)

My name is: Reshma

In [3]:
'''
2. Write a code to find the length of the string "Hello World"
'''
# Define the string
text = "Hello World"

# Find and print the length of the string
print("Length of the string is:", len(text))

Length of the string is: 11

In [4]:
'''
 3.Write a code to slice the first 3 characters from the string "Python Programming"
'''
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [5]:
'''
4. Write a code to convert the string "hello" to uppercase
'''
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [6]:
'''
5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
'''
# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

In [7]:
'''
6. Write a code to create a list with numbers 1 to 5 and print it
'''
# Create a list with numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [8]:
'''
7. Write a code to append the number 10 to the list [1, 2, 3, 4]
'''
# Define the list
numbers = [1, 2, 3, 4]

# Append the number 10
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [9]:
'''
8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
'''
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [10]:
'''
9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
'''
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("Second element:", second_element)

Second element: b

In [13]:
'''
10.  Write a code to reverse the list [10, 20, 30, 40, 50].
'''
 #Define list
numbers = [10, 20, 30, 40, 50]

# Reverse list
numbers.reverse()

# Print  reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
'''
11. Write a code to create a tuple with the elements 100, 200, 300 and print it
'''

#creating tuple
my_tuple = (100,200, 300)

# print tuple
print(my_tuple)

(100, 200, 300)

In [ ]:
'''
12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
'''
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_to_last = colors[-2]

# Print the result
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

In [ ]:
'''
13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
'''
#Define the tuple
numbers = (10,20, 5, 15)

#Find the minimum number in the tuple
min_number = min(numbers)

#Print the minimum number
print("The minimum number in the tuple is:", min_number)

The minimum number in the tuple is: 5

In [ ]:
'''
14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
'''

#Define the tuple
animals = ("dog","cat","rabbit")

#Find the index of cat
cat_index = animals.index("cat")

#print the result
print("index of cat:",cat_index)

index of cat: 1

In [ ]:
'''
15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
'''

#Define the tuple
fruits = ("grapes","kiwi","orange")

#check if kiwi is present in the tuple
if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

In [ ]:
'''
16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
'''

#create the set
my_set = {'a','b','c'}

#print the set
print(my_set)

{'c', 'a', 'b'}

In [ ]:
'''
17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
'''
#create the set
numbers = {1,2,3,4,5,}


#clear all elements in set
numbers.clear()

#print the cleared set
print("set after clearing numbers",numbers)

set after clearing numbers set()

In [ ]:
'''
18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
'''
#create the set
numbers = {1,2,3,4}

#removing the number
numbers.remove(4)

#print the set
print("The set after removing the number4:",numbers)

The set after removing the number4: {1, 2, 3}

In [ ]:
'''
19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
'''

#Define the set
set1 = {1,2,3}
set2 = {3,4,5}

#Find the union of sets
union_set= set1.union(set2)

#print the union of sets
print("The union of the set1, set2:",union_set)

the union of the set1, set2: {1, 2, 3, 4, 5}

In [ ]:
'''
20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''

#Define the set
set1 = {1,2,3}
set2 = {2,3,4}

#Find the intersection
intersection_set = set1.intersection(set2)

#print the intersection of two sets
print("The intersection of te two sets:",intersection_set)

The intersection of te two sets: {2, 3}

In [ ]:
'''
21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
'''

#create the dictionary
person = {"name": "Tiger","age": 34, "city": "Thailand"}

#print the dictionary
print(person)

{'name': 'Tiger', 'age': 34, 'city': 'Thailand'}

In [ ]:
'''
22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''

#original dictionary
person_details = {"name": "John", "age": 25}

#add new key-value pair
person_details["country"] = "USA"

#print
print (person_details)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
'''
23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
#Define the Dictionary
person = {"name":"Alice","age":30}

#Acess the value of the name key
name_value = person['name']

#print
print("name:",name_value)

name: Alice

In [ ]:

'''
24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
'''
#create the Dicitionary
person_details = {"name":"Bob","age":22,"city":"New york"}

#Remove the key age
del person_details['age']

#print
print(person_details)

{'name': 'Bob', 'city': 'New york'}

In [ ]:
'''
25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
'''
#create the dicitionary
dicitionary= {"name":"Alice", "city": "paris"}

#check if 'city' exists
if 'city' in dicitionary:
  print("city exists in the dictionary")
else:
    print("city not exits in the dicitionary")

city exists in the dictionary

In [ ]:
'''
26. Write a code to create a list, a tuple, and a dictionary, and print them all.
'''

#create the list
my_list = [100,200,300,400]

#create tuple
my_tuple = ("potato", "tomato", "chilli")

#create dicitionary
my_dict = {"name": "Bob","age":24,"city":"Delhi"}

Print("list:",my_list)
print("tuple:",my_tuple)
print("dicitionary:",my_dict)

list: [100, 200, 300, 400]
tuple: ('potato', 'tomato', 'chilli')
dicitionary: {'name': 'Bob', 'age': 24, 'city': 'Delhi'}

In [ ]:
'''
27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

'''
import random

# Create a list of 5 random numbers between 1 and 100
random_list = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_list.sort()

# Print the result
print("Sorted list:", random_list)

Sorted list: [21, 26, 33, 65, 89]

In [ ]:
'''
28. Write a code to create a list with strings and print the element at the third index
'''

#create the list with strings
fruits = ["apple", "banana","grapes","kiwi","orange"]

#print
print("element at the third index:",fruits[3])

element at the third index: kiwi

In [ ]:
'''
29. Write a code to combine two dictionaries into one and print the result.
'''
#Define dicitiories
dict1 = {"name": "weber","age":43}
dict2 = {"city":"hyd","address": "Gandhi colony"}

#combine dictinaries
combined_dict = {**dict1,**dict2}

#print
print("combined dictionary:",combined_dict)

combined dictionary: {'name': 'weber', 'age': 43, 'city': 'hyd', 'address': 'Gandhi colony'}

In [ ]:
'''
30. Write a code to convert a list of strings into a set.
'''
#create a list of strings
string_list = ["apple","banana","orange","grapes"]

#convert list into string
string_set = set(string_list)

#print
print("set of strings:",string_list)

set of strings: ['apple', 'banana', 'orange', 'grapes']